<header class="bg-black text-white flex justify-between items-center">
  <h1 class="p-3 text-blue-500">{{ shop.name }}</h1>
  <div class="flex gap-3">
    {% for link in linklists['main-menu'].links -%}
      <a class="hover:text-blue-500 {% if link.active %} text-blue-500 {% endif %}" href="{{ link.url }}">
        {{- link.title -}}
      </a>
    {%- endfor %}
  </div>
  <div>
    <p>Seach</p>
  </div>
</header>
